$dark-gray-bg: #121212;
$gray-bg: #161616;
$light: #EDEDED;
$aktsent: #D16527;

@mixin fz($px) {
    font-size: calc($px / 16)*1rem;
}

@mixin lh($px) {
    line-height: calc($px / 16) * 1rem;
}

@import "breadcrumbs";
@import "members";

/*-====================#Section-Top -====================-*/
/*-====================Section-Team====================-*/
#team {
    padding: 160px 0;

    @media screen and (max-width: 480px) {
        padding: 80px 0;
    }

    .h2-title {
        margin-bottom: 66px;

        &::after {
            content: '';
            width: 100%;
            height: 2px;
            border: 2px solid #343434;
            position: relative;
            bottom: -30px;
            left: 0;
            display: block;
        }
    }


}